<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Emeralda">
<meta name="keywords" content="Emeralda, Resort, Spa, Ninh Binh, nghi duong cao cap, resort gan ha noi">
<meta name="description" content="Emeralda is a Vietnam 5 Star Hotel - Resort &amp; Spa in Van Long, Ninh Binh, offer best holiday deals as a accommodation destination for tourists, family with friendly vacation packages">
<meta name="google-site-verification" content="VKwf0DnDpc8JbtPr0HKz4HC3mXI4pwk5eNvSY64FXoI">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<title>Emeralda Resort - Spa Ninh Binh -  Best Rate Guarantee</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/form.css" rel="stylesheet">
<link href="css/sprite.css" rel="stylesheet">
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/content.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<!-- Bootstrap core JavaScript -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/slimscroll.js"></script>
<script src="js/aw-showcase.js"></script>
<script src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/mCustomScrollbar.min.js"></script>
<script src="js/style.js"></script>
<link rel="stylesheet" type="text/css" href="css/mCustomScrollbar.min.css">
</head>
<body>
    <div class="mobile-header">
        <a class="mobile-menu-button" href="#">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="mobile-logo" href="/home/vi.html"><img src="images/logo.png" alt="logo"></a>
        <div class="mobile-menu">
            <ul>
                <li><a href="/home/vi.html">Trang chủ</a></li>
                <li><a href="/about-us/vi.html">Giới thiệu</a></li>
                <li><a href="/discovery/vi.html">Sản phẩm</a></li>
                <li><a href="/accommodation/vi.html">Dịch vụ</a></li>
                <li><a href="/gallery/vi.html">Thư viện</a></li>
                <li><a href="/gallery/vi.html">Tin tức</a></li>
                <li><a href="/contact/vi.html">Liên hệ</a></li>
            </ul>
        </div><!-- mobile-menu -->
    </div><!-- mobile-header -->
    <div class="bg">        
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class=""></li>
                <li data-target="#carousel" data-slide-to="1" class="active"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <img class="item active" src="images/banner1.png" alt="/banner/6/d/6/d/1/6d6d14e7a0ef49841fcce8090351e9ce.jpg">
                <img class="item" src="images/banner2.png" alt="/banner/c/d/b/0/5/cdb05bdfe0e836b658517a3221d77cb6.jpg">
            </div>
            <!-- Carousel nav -->
        </div>
    </div>
    <div class="container">
        <div class="about">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="home.html">Trang chủ</a></li><span>/</span>
                    <li><a href="about-us.html">Giới thiệu</a></li><span>/</span>
                    <li><span>Công ty Zell-V</span></li>
                </ul>
            </div>
            <hr>
            <div class="about-main" >
                <div class="title">
                    <h2>
                        Công ty Zell-V
                    </h2>
                </div>
                <div class="about-content">
                    <p>
                        Managed by Emeralda Management Group (EMG) since 2011, Emeralda Resort Ninh Binh is located on the edge of Van Long Natural Reserve, Ninh Binh province where as mentioned earlier can be reached approximately 90 minutes leisure drive from Hanoi. Styled with traditional Vietnamese elements in architecture and furnishings, wedded to cutting edge enhancements and guest comforts, Emeralda Resort Ninh Binh incorporates the environmental commitment evident throughout the resort. Natural materials used for construction and finishes, with local produce and ingredients combined to create memorable dining experiences.
                         With a total of 172 guest rooms divided into 9 clusters, 3 superb restaurants and bar, Spa La Cochinchine, mini golf course and 2 conference halls. Wake up to a mountainous scene from a Tonkin decorated Emeralda superior room, featuring complimentary high-speed internet access and well equipped bathrooms. Make yourself comfortable in an Managed by Emeralda Management Group (EMG) since 2011, Emeralda Resort Ninh Binh is located on the edge of Van Long Natural Reserve, Ninh Binh province where as mentioned earlier can be reached approximately 90 minutes leisure drive from Hanoi. Styled with traditional Vietnamese elements in architecture and furnishings, wedded to cutting edge enhancements and guest comforts, Emeralda Resort Ninh Binh incorporates the environmental commitment evident throughout the resort. Natural materials used for construction and finishes, with local produce and ingredients combined to create memorable dining experiences.
                         With a total of 172 guest rooms divided into 9 clusters, 3 superb restaurants and bar, Spa La Cochinchine, mini golf course and 2 conference halls. Wake up to a mountainous scene from a Tonkin decorated Emeralda superior room, featuring complimentary high-speed internet access and well equipped bathrooms. Make yourself comfortable in an Managed by Emeralda Management Group (EMG) since 2011, Emeralda Resort Ninh Binh is located on the edge of Van Long Natural Reserve, Ninh Binh province where as mentioned earlier can be reached approximately 90 minutes leisure drive from Hanoi. Styled with traditional Vietnamese elements in architecture and furnishings, wedded to cutting edge enhancements and guest comforts, Emeralda Resort Ninh Binh incorporates the environmental commitment evident throughout the resort. Natural materials used for construction and finishes, with local produce and ingredients combined to create memorable dining experiences.
                         With a total of 172 guest rooms divided into 9 clusters, 3 superb restaurants and bar, Spa La Cochinchine, mini golf course and 2 conference halls. Wake up to a mountainous scene from a Tonkin decorated Emeralda superior room, featuring complimentary high-speed internet access and well equipped bathrooms. Make yourself comfortable in an Managed by Emeralda Management Group (EMG) since 2011, Emeralda Resort Ninh Binh is located on the edge of Van Long Natural Reserve, Ninh Binh province where as mentioned earlier can be reached approximately 90 minutes leisure drive from Hanoi. Styled with traditional Vietnamese elements in architecture and furnishings, wedded to cutting edge enhancements and guest comforts, Emeralda Resort Ninh Binh incorporates the environmental commitment evident throughout the resort. Natural materials used for construction and finishes, with local produce and ingredients combined to create memorable dining experiences.
                         With a total of 172 guest rooms divided into 9 clusters, 3 superb restaurants and bar, Spa La Cochinchine, mini golf course and 2 conference halls. Wake up to a mountainous scene from a Tonkin decorated Emeralda superior room, featuring complimentary high-speed internet access and well equipped bathrooms. Make yourself comfortable in an Managed by Emeralda Management Group (EMG) since 2011, Emeralda Resort Ninh Binh is located on the edge of Van Long Natural Reserve, Ninh Binh province where as mentioned earlier can be reached approximately 90 minutes leisure drive from Hanoi. Styled with traditional Vietnamese elements in architecture and furnishings, wedded to cutting edge enhancements and guest comforts, Emeralda Resort Ninh Binh incorporates the environmental commitment evident throughout the resort. Natural materials used for construction and finishes, with local produce and ingredients combined to create memorable dining experiences.
                         With a total of 172 guest rooms divided into 9 clusters, 3 superb restaurants and bar, Spa La Cochinchine, mini golf course and 2 conference halls. Wake up to a mountainous scene from a Tonkin decorated Emeralda superior room, featuring complimentary high-speed internet access and well equipped bathrooms. Make yourself comfortable in an Managed by Emeralda Management Group (EMG) since 2011, Emeralda Resort Ninh Binh is located on the edge of Van Long Natural Reserve, Ninh Binh province where as mentioned earlier can be reached approximately 90 minutes leisure drive from Hanoi. Styled with traditional Vietnamese elements in architecture and furnishings, wedded to cutting edge enhancements and guest comforts, Emeralda Resort Ninh Binh incorporates the environmental commitment evident throughout the resort. Natural materials used for construction and finishes, with local produce and ingredients combined to create memorable dining experiences.
                         With a total of 172 guest rooms divided into 9 clusters, 3 superb restaurants and bar, Spa La Cochinchine, mini golf course and 2 conference halls. Wake up to a mountainous scene from a Tonkin decorated Emeralda superior room, featuring complimentary high-speed internet access and well equipped bathrooms. Make yourself comfortable in an 
                    </p>
                </div>
            </div>
        </div>
        <script>
            $(".container .about .about-content").mCustomScrollbar({
                
            });
            $('.menu-outer li:eq(0)').addClass('active');

        </script>            
    <div class="sidebar">
        <div class="bg-white">
            <a class="logo" href="/home/vi.html"><img src="images/logo.png" alt="logo"></a>
            <div class="menuleft">
                <ul>
                                <li>
                                    <a href="home.html">Trang chủ</a>
                                </li>
                                <li class="active">
                                    <a href="#">Giới thiệu</a>
                                    <ul class="submenu">
                                        <li><a href="zellv-company.html">Công ty Zell-V</a></li>
                                        <li><a href="bt-vetnam.html">BT Việt Nam</a></li>
                                        <li><a href="nhau-thai-cuu.html">Nhau thai cừu</a></li>
                                        <li><a href="lieu-phap-te-bao-goc.html">Liệu pháp tế bào gốc</a></li>
                                        <li><a href="certificate.html">Chứng nhận và chứng chỉ</a></li>
                                    </ul></li>
                                <li><a href="product.html">Sản phẩm</a></li>
                                <li><a href="#">Dịch vụ</a>
                                    <ul class="submenu">
                                        <li><a href="service.html">Xét nghiệm máu</a></li>
                                    </ul></li>
                                <li>
                                    <a href="#">Thư viện</a>
                                    <ul class="submenu">
                                        <li><a href="photo.html">Photo</a></li>
                                        <li><a href="video.html">Video</a></li>
                                    </ul>
                                </li>
                                <li><a href="news.html">Tin tức</a></li>
                                <li><a href="contact.html">Liên hệ</a></li>
                                <div id="lavalamp"></div>
                            </ul>
            </div>
        </div><!-- bg-white -->
        <div class="bg-black">
            <form name="idForm" target="dispoprice" action="http://www.fastbookings.biz/DIRECTORY/dispoprice.phtml">
                <div class="sidebar-form">
                    <div class="sf-row">
                        <label>Tư vấn 24/24</label>
                        <div class="div_input">
                            <img src="images/message.png">
                            <input type="text" name="AccessCode" class="text" value="">
                        </div>
                    </div> 
                    <hr class="sitebar-hr">
                    <div class="sf-row">
                        <label>Đăng ký<span>nhận thông tin</span></label>

                        <div class="div_input">
                            <img src="images/inbox.png">
                            <input type="text" name="AccessCode" class="text" value="">
                        </div>
                    </div>
                    <hr class="sitebar-hr">
                </div><!-- sidebar-form -->
            </form>
            <div class="clearfix"></div>
            <div class="sidebar-footer">
                <p>Cty TNHH đầu tư thương mại &amp; dịch vụ BT Việt Nam</p>
                <p>Lô B9 số 9A, ngõ 233 Xuân Thủy,P. Dịch Vọng Hậu, Q. Cầu Giấy Hà Nội</p>
                <p>Tel: 043-6-43-43-43</p>
                <p>Hotline: 0973 059 555 (Tư vấn 24/24)</p>
                <p>Email: zellvvietnam@gmail.com</p>
                <span>Zell-V Việt Nam</span>
            </div>
            <hr class="sitebar-hr">
            <div id="copy-right">Copyright © 2016 ZELL-V</div>
        </div><!-- bg-black -->
    </div><!-- sidebar -->
    <div class="header">
        <div class="menu">
            <ul>
                <li>
                    <a href="/about-us/vi/ve-emeralda-resort-ninh-binh-4.html">Thư viện<span class="menu-bullet"></span></a>
                </li>
                <li>
                    <a href="/about-us/vi/ban-do-chi-dan-1.html">Tin tức nổi bật<span class="menu-bullet"></span></a>
                    <ul class="top-submenu">
                        <li></li>
                        <li><a href="">Bí quyết làm đẹp</a></li>
                        <li><a href="">Nhau thai cừu</a></li>
                        <li><a href="">Liệu pháp tế bào gốc</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/about-us/vi/quy-dinh-va-hinh-thuc-thanh-toan-5.html">Đối tác<span class="menu-bullet"></span></a>
                </li>
                <li>
                    <a href="/about-us/vi/chinh-sach-bao-mat-thong-tin-6.html">Liên hệ<span class="menu-bullet"></span></a>
                </li>
            </ul>
        </div><!-- menu -->
        <div class="box-language">
            <ul>
                <li class="choose-lang active"><a onclick="chooseLang('vi')"><img src="images/flag-vie.png" alt="vie"></a></li>
                <li class="choose-lang"><a onclick="chooseLang('en')"><img src="images/flag-eng.png" alt="eng"></a></li>
                <li style="display:none;"><a href="#"><img src="images/flag-gem.png" alt="gem"></a></li>
                <li style="display:none;"><a href="#"><img src="images/flag-fra.png" alt="fra"></a></li>
                <li style="display:none;"><a href="#"><img src="images/flag-chn.png" alt="chn"></a></li>
            </ul>
        </div><!-- box-language -->
    </div><!-- header -->
    <div class="footer">

        <div class="box-social">
            <div class="sf-row">
                <span>Follow us</span>
                <a target="_blank" href="https://www.facebook.com/EmeraldaResortNinhbinh?ref=hl"><span class="icon24-facebook"></span></a>
                <a target="_blank" href="https://twitter.com/Emeralda_Group"><span class="icon24-twitter"></span></a>
                <a target="_blank" href="https://www.youtube.com/user/Emeraldagroup"><span class="icon24-youtube"></span></a>
            </div>
        </div><!-- box-social -->
        <div class="mobile-footer">                                     
            <h5>EMERALDA RESORT NINH BINH</h5>
            <p>Khu Bảo Tồn Vân Long, Xã Gia Vân,</p>
            <p>Huyện Gia Viễn, Tỉnh Ninh Bình, Việt Nam</p>
            <p>[ T ] +84 303 658 243   [ F ] +84 303 658 223</p>
            <p>[ E ] info@emeraldaresort.com</p>
            <br>
            <h5>VĂN PHÒNG TẠI HÀ NỘI</h5>
            <p>Tầng 4, Tòa nhà Royal, 180 Triệu Việt Vương,</p>
            <p>Quận Hai Bà Trưng, Hà Nội, Việt Nam</p>
            <p>[ T ] +84 43 935 2502</p>
            <p>[ E ] emgsales@emeraldagroup.com</p>
            <br>
            <h5>VĂN PHÒNG TẠI TP. HỒ CHÍ MINH</h5>
            <p>Tầng 1, Centre Point, 106 Nguyễn Văn Trỗi,</p>
            <p>Quận Phú Nhuận, TP. Hồ Chí Minh, Việt Nam</p>
            <p>[ T ] +84 86 291 3030</p>
            <p>[ E ] emgsales@emeraldagroup.com</p>
            <p>Công ty CP Du lịch Tân Phú, <br>Giấy ĐKKD số 0102792890</p>
        </div><!-- mobile-footer -->
        <div class="mobile-copyright">
            <h5>Emeralda Management Group © 2014</h5>
            <p>Website by 123webdesign.vn</p>
        </div><!-- mobile-copyright -->
    </div><!-- footer -->
</div><!-- container -->
<div class="popup">
    <div class="popup-title">
        <h4>Emeralda Ninh Binh Resort Spa</h4>
        <button type="button" class="popup-close"></button>
    </div><!-- popup-title -->
    <div class="popup-content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7481.063608917723!2d105.8828640528218!3d20.360951637852494!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31367f4024ddc0f3%3A0x26d9c32e72c68f60!2sEmeralda+Ninh+Binh+Resort+Spa!5e0!3m2!1sen!2s!4v1407135169306" width="100%" height="450" frameborder="0" style="border:0"></iframe><br><small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Emeralda+Ninh+Binh+Resort+Spa,+Gia+V%C3%A2n,+Ninh+B%C3%ACnh+Province,+Vietnam&amp;aq=0&amp;oq=emerada+ninh&amp;sll=37.0625,-95.677068&amp;sspn=39.592876,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=20.36153,105.881877&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A" style="color:#fff;text-align:left">View Larger Map</a></small>
    </div><!-- popup-content -->
</div><!-- popup -->
</body></html>