
/application/logs
/html/.idea
/html/asset/images/*.psd
/.idea
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess


nbproject/private/
build/
nbbuild/

nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# DW Dreamweaver added files
_notes
dwsync.xml
/application/config/config.php
/teacher/config/config.php

/.git
