[class*="icon24"]{
  width:24px;
  height:24px;
  display:inline-block;
  vertical-align:top;
}
.icon24-tripvisor{
  background:url(../images/icons/icon-tripvisor.png) no-repeat;
}
.icon24-facebook{
  background:url(../images/icons/icon-facebook.png) no-repeat;
}
.icon24-twitter{
  background:url(../images/icons/icon-twitter.png) no-repeat;
}
.icon24-youtube{
  background:url(../images/icons/icon-youtube.png) no-repeat;
}
.icon24-googleplus{
  background:url(../images/icons/icon-googleplus.png) no-repeat;
}
.icon24-pinterest{
  background:url(../images/icons/icon-pinterest.png) no-repeat;
}
.icon24-instagram{
  background:url(../images/icons/icon-instagram.png) no-repeat;
}