@media (max-height: 800px) {
  .bg-white {
    height: auto;
  }
  .logo{
    height: 55px;
    line-height: 55px;
  }
}

@media (max-width: 850px) {
  .header{
    display: none!important;
  }
  .book-slider{
    display: none;
  }
  .bg{
    display: none;
  }
  .bg-black{
    display: none;
  }
  .sidebar{
    width: 100%;
  }
  .menuleft ul{
    display: none;
  }
  .menuleft{
    background: black;
    height: 60px;
  }
  .menu-mobile-icon{
    display: block!important;
    height: 100%;
    line-height: 60px;
    margin-left: 11px;
  }
  .menu-mobile-icon span{
       color: white;
    text-transform: uppercase;
    font-size: 26px;
    margin-left: 21px;
  }
  .menu-mobile-icon img{
    margin-top: -10px;
  }
  .logo{
    height: 82px;
  }
  .menu-mobile-icon:hover ~ ul{
    display: block!important;
  }

}
