@media (max-height: 800px) {
  .bg-white {
    height: auto;
  }
  .logo{
    height: 55px;
    line-height: 55px;
  }
}

@media (max-width: 850px) {

  .pt-detail .product-related{
    display: block;
  }
  .about-content .product-info .tabs{
    border-bottom: none;
    box-shadow : none;
    background: #d2a72a;
    border-top: solid #d2a72a 4px;
    overflow: hidden;
  }
  .about-content .product-info .tabs a.active{
    background: white;
    border-left: solid #d2a72a 4px;
  }
  .about-main .sf-row.more-button{
    display: block;
        margin-top: 30px;
  }

  .product-list .about .about-main .title h3{
    display: block;
    margin-bottom: 24px;
  }
  footer .box-social{
    display: block;
  }
  body{
    overflow: visible;
  }
  .header{
    display: none!important;
  }
  .book-slider{
    display: none;
  }
  #lavalamp{
    display: none;
  }
  .bg{
    position: static;
    height: 471px;
  }
  .bg .carousel{
    height: 100%;
    position: relative;
  }
  .bg .carousel-inner{
    position: relative;
    height: 100%;
  }
  .bg-black{
    display: none;
  }
  .sidebar{
    width: 100%;
  }
  .menuleft > ul{
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 70%;
    background: black;
    display: none;
    overflow: hidden;
  }
  .menuleft > ul:hover{
    display: block;
  }
  .menuleft{
    background: black;
    height: 60px;
  }
  .menu-mobile-icon{
    display: block!important;
    height: 100%;
    line-height: 60px;
    margin-left: 11px;
    float: left;
    width: 50%;
  }
  .menu-mobile-icon span{
       color: white;
    text-transform: uppercase;
    font-size: 26px;
    margin-left: 21px;
  }
  .menu-mobile-icon img{
    margin-top: -10px;
  }
  .logo{
    height: 82px;
  }
  .menu-mobile-icon:hover ~ ul{
    display: block!important;
  }
  .box-language{
    display: block;    
    float: right;
    height: 100%;
  }
  .menuleft > ul > li{
    padding: 10px;
    border-top: solid #494949 1px;
  }
  .menuleft > ul > li:first-child{
    border-top: none;
  }
  .box-language .choose-lang{
    margin-top: 15px;
  }
  .menuleft ul > li > a{
    color: white;
    text-align: left;
  }
  .menuleft .submenu{
    visibility: visible;
    opacity: 1;
    padding : none;
    position: static;
    display: none;
  }
  .menuleft .submenu li a{
    margin-left: 0;
  }
  .footer{
    display: none;
  }
  .sidebar{
    position: static;
    float: none;
  }
  .container{
    padding: 0!important;
  }
  .carousel-inner img{
    height: 100%;
  }
  .container .about{
    background: none;
    height: auto;
    position: static;
    width: 100%;
  }
  .container .about .breadcrumbs{
    display: none;
  }
  .container .about > hr{
    display: none;
  }
  .container .about .about-main .title h2{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 32px;
    margin-top: 40px;
  }
  .container .about .about-main .about-content p{
    color: black;
  }
  .about-content #contact-submit{
    width: 100%;
    float: none;
  }
  .about-content #contact-submit > hr{
    display: none;
  }
  .container .about .about-main hr{
    display: block;
  }
  .about-content #contact-submit .row label{
    display: block;
  }
  .about-content #contact-submit .row input{
    border: solid #c6c6c6 1px;
    background: #eeeeee;
  }
  .about-content #contact-submit .row textarea{
    border: solid #c6c6c6 1px;
    background: #eeeeee;
  }
  .about-content #contact-submit .row:last-child button{
    color: white;
    border-radius: 5px;
    padding: 10px 54px;
  }
  .about-content #contact-info .row{
    display: none;
  }
  .about-content #contact-info{
    width: 100%;
    float: none;
  }
  .about-content #contact-info .row.map{
    display: block;
    margin-top: 30px!important;
  }
  .about-content #contact-info > h4{
    display: none;
  }
  .about-content .product-thumnail{
    border: solid #d2a72a 1px;
  }
  .title-mobile .price .price-actualy{
    color: black;
  }
  .title-mobile .price-old{
    color: black;
  }
  .about-content .product-info-thumnail{
    float: none;
    width: 100%;
  }
  .about-content .product-detail{
    float: none;
    width: 100%;
    color: black;
  }
  .title-mobile{
    display: block;
  }
  .title-mobile .price label{
    color: black;
  }
  .product-view .about-content .product-detail > h4,
  .product-view .about-content .product-detail .code,
  .product-view .about-content .product-detail .price{
    display: none;
  }
  .product-view .about-content .product-detail .row button{
    background: #d2a72a;
    color: white;
    font-weight: bold;
    padding: 8px 39px;
    font-size: 24px
  }
  .product-view .flex-direction-nav{
      display: none;
  }
  .mobile-nav{
    display: block;
  }
  .product-view #carousel-product{
    opacity: 0;
    height: 0;
  }
  .product-view .about-content .product-info-thumnail .vote.mobile{
    display: block;
    background: #d2a72a;
    height: 50px;
  }
  .product-view .about-content .product-info-thumnail .vote{
    display: none;
  }
  .product-view .about-content .product-info-thumnail .vote ul{
    width: 60%;
    margin: auto;
  }
  .product-view .about-content .product-info-thumnail .vote li{
    line-height: 50px;
  }
  .product-view .about-content .product-info-thumnail{
    height: auto;
  }
  .product-view .product-info-thumnail #slider{

  }
  .product-view .about-content .product-detail .row ul li{
    font-size: 15px;
    padding: 3px;
  }
  .product-view .about-content .product-detail .row.hotline{
    display: none;
  }
  .product-view .about-content .product-detail .row ul{
    background: #494949;
    color: white;
  }
  .product-view .about-content .product-header {
    background: black;
    border-radius: 7px;
    margin-top: 12px;
    overflow: hidden;
  }
  .product-view .about-content .product-header h2{
    width: 50%;
    float: left;
    padding-left: 16px;
  }
  .product-view .about-content .product-header .nav{
    margin-top: 12px
  }
  .product-view .about-content .product-related .product-inline{
    clear: both;
    margin-top: 11px;
  }
  .product-view .about-content .product-item > a{
    color: black
  }
  .product-view .price label{
    color: black;
        font-size: 22px
  }
  .product-view .price-old {
    color: black;
    font-size: 17px;
  }
  .container .about .about-main .about-content .item{
    float: none;
    width: 100%;
    height: 450px;
    margin-bottom: 32px;
  }
  .container .about .about-main .about-content .item p{
    text-align-last: center;
    margin-top: 10px;
    font-weight: bold;
  }
  .about-content .product-detail .row{
    font-size: 15px;
  }
  .container .about .about-main .about-content .item img{
    height: 90%;
  }
  .container .about .about-main .about-content .item .video::before{
        left: 50%;
        background: url(../images/play-mobile.png) no-repeat;
        background-size: 100%;
  }
  .container .about .about-main .about-content #news-hot{
    width: 100%;
    float: none;
    position: relative;
  }
  .container .about .about-main .about-content #list-news{
    float: none;
    width: 100%;
  }
  .container .about .about-main .about-content #news-hot img{
    height: 100%;
  }
  .container .about .about-main .about-content #news-hot .desc{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(21, 20, 20, 0.35);
    height: 35%;
  }
  .container .about .about-main .about-content #news-hot p{
    padding: 0px 40px;
    color: white;
  }
  .container .about .about-main .about-content #news-hot h3{
    text-align: center;
    color: white;
        font-size: 22px;
  }
  .container .about .about-main .about-content #list-news .list-news-item{
    height: 150px;
  }
  .container .about .about-main .about-content #list-news .list-news-item:first-child{
    margin-top: 10px;
  }
  .container .about .about-main .about-content #list-news .list-news-item a.link-post{
    color: black;
    font-weight: bold;
    font-size: 17px;
    padding-left: 12px;
  }

  .container .about .about-main .about-content #list-news .list-news-item p{
    display: block;
     padding-left: 12px;
    overflow: hidden;
  }
  #news-content{
    color: black;
  }
  .about-content .product-info .tab-content{
    color: black;
  }
  .carousel-indicators{
    bottom: -45px;
  }
  .carousel-indicators li{
    background: black;
  }
   .product-list .about-content .product-item > a{
    color: black;
    font-weight: bold;
  }
   .product-list .about-content .product-item .price label{
    color: black;
  }
   .product-list .about-content .product-item .price > div span{
    color: black;
  }
  .cat_name{
    display: block;
  }
}
@media (max-width: 600px) {
  .about-content .product-item{
    width: 48%;
  }
}
@media (max-width: 700px) {

  .container .about .about-main .about-content #news-hot h3{
        font-size: 18px;
  }
  .container .about .about-main .about-content #news-hot p{
    font-size: 14px;
  }
}
@media (max-width: 550px) {

  .container .about .about-main .about-content #news-hot p{
        padding: 0px 19px;
    line-height: normal;
  }
}
@media (max-width: 400px) {
  .about-content .product-item{
    width: 100%;
  }
}
@media (max-width: 500px) {

  .container .about .about-main .about-content #news-hot p{
    display: none;
  }
}